$("textarea.content").val("");

var head =  "<div class='postHeader'>" +
            "<img src='/assets/profile.jpg' class='span1 commentImage'>"+
            "<p>Sivabudh Umpudh</p>"+
          "</div>";

         /* "<div class= "postHeader" >"+
          "<div class="span1 crop">"+
          "<img class= "span1 commentImage" src="/assets/profile.jpg" >"+
          "</div>"+
          "<p class= "postName"><%= @user.first_name%> <%= @user.last_name%></p>"+
          "</div>";*/


var status = "<li class='post'>" + head +
          "<div class='postContent'>" +
          "<p><%= @post.content %></p>" +
          "</div>"+
         /* "<div class="separator"></div>"+
          "<div class="commentSection">"+
          "<ul class="comment">"+
          "</ul>"+
          "</div>"+
          "<div class="row" style="background-color: #E2E2E2">"+
          "<div class="span1 commentButton">"+
          "<button class="btn btn-small btn-primary">Comment</button>"+
          "</div>"+
          "<div class="span3" style="background-color: #E2E2E2; padding-left:4px">"+
          "<textarea  class="offset commentField" rows="1" placeholder="Write a comment..."></textarea>"+
          "</div>"+
          "</div>"+*/
          "</li>";
          //"<br>";

$("ul.posts_list").prepend(status);

